

.registerContainer{

  display: flex;
  display: 1;

  background: var(--color-box-base);
  width: 100%;
  max-width: 74rem;
  border-radius: 0.8rem;

  overflow: hidden;
  padding: 30px;
}
.registerContainer form p{
  font-weight: 700;
  margin-top: 5px;
  color: var(--color-primary-dark);
}
.registerContainer form p::before{

    display: inline;
    content: "⚠ ";

}

.resourcesGrid{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
}


.resourcesGrid .input-block{
  width: 45%;
  margin-right: 25px
}

.buttonsContainer{
  display: flex;
  flex-direction: column;
}



