:root {
  --color-background: #2f2e41;
  --color-primary-lighter: #9871F5;
  --color-primary-light: #916BEA;
  --color-primary: #f4617e;
  --color-primary-dark: #af1432;
  --color-secundary: #04D361;
  --color-secundary-dark: #04BF58;
  --color-title-in-primary: #FFFFFF;
  --color-text-in-primary: #D4C2FF;
  --color-text-title: #32264D;
  --color-text-complement: #9C98A6;
  --color-text-base: #6A6180;
  --color-line-in-white: #E6E6F0;
  --color-input-background: #F8F8FC;
  --color-button-text: #FFFFFF;
  --color-box-base: #FFFFFF;
  --color-box-footer: #FAFAFC;

  font-size: 60%;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root{
  height: 100vh;
}

body{
  background: var(--color-background);
  background-image: url("../images/undraw_moonlight_5ksn.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#root{
  display: flex;
  align-items: center;
  justify-content: center;
}

body, input, button, textarea{
  font: 500 1.6rem 'Red Rose', cursive;
  color: var(--color-text-title);
}

section{
  flex: 1;
  width: 60%;
}


.container{
  max-width: 700px;
  max-height: 800px;
}

.main{
  display: flex;
  background: var(--color-box-base);
  width: 100%;
  max-width: 74rem;
  border-radius: 0.8rem;

  overflow: hidden;
  padding: 30px;
}

.text-strong{
  font-weight: 700;
}

.action-button{
  min-width: 177px;
}


a{
  text-decoration: none;
}

legend{
  font: 700 2.4rem 'Red Rose', cursivo;;
  color: var(--color-text-title);
  margin-bottom: 2.4rem;
  display:flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 1.6rem;
  padding-top: 1.6rem;
  border-bottom: 1px solid var(--color-line-in-white);
}


.button-primary{
  width: 100%;
  height: 5.6rem;
  background:  var(--color-primary);
  color: var(--color-button-text);
  border: 0;
  border-radius: 0.8rem;
  cursor: pointer;
  font: 700 1.6rem 'Red Rose', cursivo;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background-color 0.2s;
  margin-top: 3.2rem;
}

.button-primary:hover{
  background: var(--color-primary-dark);
}

.input-block{
  position: relative;
}

.input-block + .input-block{
  margin-top: 1.4rem;
}

.input-block label{
  font-size: 1.4rem;
}

.input-block input{

  width: 100%;
  height: 5.6rem;
  margin-top: 0.8rem;
  border-radius: 0.8rem;
  background: var(--color-input-background);
  border: 1px solid var(--color-line-in-white);
  outline: 0;
  padding: 0 1.6rem;
  font: 1.6rem 'Red Rose', cursivo;
}

.input-block:focus-within::after{
  width: calc(100% - 3.2);
  height: 2px;
  content: '';
  background: var(--color-primary-dark);
  position: absolute;
  left: 1.6rem;
  right: 1.6rem;
  bottom: 0;
}

select{
  width: 100%;
  height: 5.6rem;
  margin-top: 0.8rem;
  border-radius: 0.8rem;
  background: var(--color-input-background);
  border: 1px solid var(--color-line-in-white);
  outline: 0;
  resize: vertical;
  padding: 1.2 1.2rem;
  font: 1.6rem 'Red Rose', cursivo;
}



img{
  width: 60vh
}

section{
  flex: 1;
  width: 60%;
}

.buttonsContainer{
  display: flex;
  flex-direction: column;
}





@media(min-width: 700px){
  :root{
    font-size: 65.5%;
  }
}
